.header
  .id
    img.logo(src=craft.profile_image_url)
    .name-and-activity
      h2.name.ellipsis= craft.name
      if craft.last_tweeted_at
        .last-activity
          img(src='/images/twitter/twitter-bird.png')
          span= craft.last_tweeted_at
    if craft.yelp_craft
      .yelp
        .logo
          a.logo.yelp_logo_50x25(href=craft.yelp_craft.href, target= '_blank')
        .rating-reviews
          .rating
            img.star.rating(src=craft.yelp_craft.rating_img_url_large)
          .reviews #{craft.yelp_craft.review_count} reviews
