if craft.yelp_craft
  .yelp-reviews.right
    | yelp reviews
    each review in craft.yelp_craft.reviews
      user = review['user']
      blockquote.cut.yelp-review
        .vcard.author
          a(href="http://www.yelp.com/user_details?userid=#{user['id']}")
            span.avatar
              img.phto(src=user['image_url'])
            span.fn
              = user['name']
            span.star-rating
              img(src=review['rating_image_url'])
            a.yelp-follow-button(href="http://www.yelp.com/following_user/add?dst_user_id=#{user['id']}&previous_url=#{request.url}")
              i
              span.label
                | Follow
        .entry
          = review['excerpt']
        .footer
          .how-long-ago= review['time_created']
          //- = Util.how_long_ago_was(Time.at(review['time_created']))
          a.view-details(href="http://www.yelp.com/biz/#{craft.yelp_craft.yelp_id}#hrid:#{review['id']}")
            read more